    /* 语言选择窗口样式 */
    .language-selector {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        width: 300px;
        transition: all 0.3s ease;
        opacity: 0;
        transform: translate(-50%, -60%);
    }

    .language-selector.show {
        display: block;
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    .language-selector h3 {
        display: block;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 15px;
        /* color: #333; */
    }

    .language-selector label {
        display: block;
        margin-bottom: 10px;
    }

    .language-selector input[type="radio"] {
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 10px;
    }

    /* 关闭按钮样式 */
    #closeLanguageSelector {
        display: block;
        width: 100%;
        padding: 10px;
        background-color: #321daa;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 10px;
        transition: background-color 0.3s;
    }

    #closeLanguageSelector:hover {
        background-color: #c82333;
    }